@{
    ViewBag.Title = "Virtual Scrum";
}

<h2>Virtual Scrum Home Page!!!!! CLick To login or Register</h2>

@if (Request.IsAuthenticated)
{
    <text>

        <h2> Hello,click @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }) to change your password</h2>
    </text>
}
else
{
    <p>LOGIN</p>
}


@*<p>
@Html.ActionLink("LogOn", "LogOn", "Account")
</p>
<p>
@Html.ActionLink("Register", "Register", "Account")
</p>*@
